## Stock Sentiment Analysis using News Headlines

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Data.csv', encoding = "ISO-8859-1")

In [3]:
df.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,2000-01-05,0,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links
3,2000-01-06,1,Pilgrim knows how to progress,Thatcher facing ban,McIlroy calls for Irish fighting spirit,Leicester bin stadium blueprint,United braced for Mexican wave,"Auntie back in fashion, even if the dress look...",Shoaib appeal goes to the top,Hussain hurt by 'shambles' but lays blame on e...,...,Putin admits Yeltsin quit to give him a head s...,BBC worst hit as digital TV begins to bite,How much can you pay for...,Christmas glitches,"Upending a table, Chopping a line and Scoring ...","Scientific evidence 'unreliable', defence claims",Fusco wins judicial review in extradition case,Rebels thwart Russian advance,Blair orders shake-up of failing NHS,Lessons of law's hard heart
4,2000-01-07,1,Hitches and Horlocks,Beckham off but United survive,Breast cancer screening,Alan Parker,Guardian readers: are you all whingers?,Hollywood Beyond,Ashes and diamonds,Whingers - a formidable minority,...,Most everywhere: UDIs,Most wanted: Chloe lunettes,Return of the cane 'completely off the agenda',From Sleepy Hollow to Greeneland,Blunkett outlines vision for over 11s,"Embattled Dobson attacks 'play now, pay later'...",Doom and the Dome,What is the north-south divide?,Aitken released from jail,Gone aloft

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4101 entries, 0 to 4100
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4101 non-null   object
 1   Label   4101 non-null   int64
 2   Top1    4101 non-null   object
 3   Top2    4101 non-null   object
 4   Top3    4101 non-null   object
 5   Top4    4101 non-null   object
 6   Top5    4101 non-null   object
 7   Top6    4101 non-null   object
 8   Top7    4101 non-null   object
 9   Top8    4101 non-null   object
 10  Top9    4101 non-null   object
 11  Top10   4101 non-null   object
 12  Top11   4101 non-null   object
 13  Top12   4101 non-null   object
 14  Top13   4101 non-null   object
 15  Top14   4101 non-null   object
 16  Top15   4101 non-null   object
 17  Top16   4101 non-null   object
 18  Top17   4101 non-null   object
 19  Top18   4101 non-null   object
 20  Top19   4101 non-null   object
 21  Top20   4101 non-null   object
 22  Top21   4101 non-null   object
 23  Top22   4101 non-null   object
 24  Top23   4100 non-null   object
 25  Top24   4098 non-null   object
 26  Top25   4098 non-null   object
dtypes: int64(1), object(26)
memory usage: 865.2+ KB

In [5]:
df.isnull().sum()

Date     0
Label    0
Top1     0
Top2     0
Top3     0
Top4     0
Top5     0
Top6     0
Top7     0
Top8     0
Top9     0
Top10    0
Top11    0
Top12    0
Top13    0
Top14    0
Top15    0
Top16    0
Top17    0
Top18    0
Top19    0
Top20    0
Top21    0
Top22    0
Top23    1
Top24    3
Top25    3
dtype: int64

In [6]:
df['Date'].min()

'2000-01-03'

In [7]:
df['Date'].max()

'2016-07-01'

In [8]:
df.shape

(4101, 27)

In [9]:
0.2*4000

800.0

In [10]:
df[df['Date'] > '2013-06-01'].__len__()

778

In [29]:
# train = df[df['Date'] <= '2013-06-01']
# test = df[df['Date'] > '2013-06-01']

# test train split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df, df['Label'], test_size=0.3, random_state=0)

In [30]:
X_train.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
3893,2015-09-04,0,"Jordan has a population of 6 million, but have...",Egyptian billionaire wants to buy island to ho...,People would rather live near wind turbines th...,Canadian Prime Minister candidate Justin Trude...,Edward Snowden says Hillary Clinton 'ridiculou...,3 Indians get 20 years in jail for raping Japa...,The U.S. is finalizing a $1 billion arms deal ...,"Amid refugee crisis, Hungary prime minister sa...",...,"Canada gets a C on innovation report card, cor...",Drowned Syrian toddlers' family had not applie...,"More than 100,000 asylum seekers enter Germany...",Nice but dim: Posh but stupid children do bett...,"Canadian Forces have no role to play in Syria,...",One of the Indian women sentenced to be gang-r...,South Korea on the Brink of Becoming a Multicu...,Russian spy ship off the coast of US sub base ...,Iranian police to confiscate cars of poorly ve...,Peru: Indigenous Seize 11 Oil Wells Demanding ...

In [31]:
# Removing punctuations symbols
data=X_train.iloc[:,2:]
data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

In [32]:
# Renaming columns
list1= [i for i in range(data.shape[1])]
new_Index=[str(i) for i in list1]
data.columns= new_Index
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
3893,Jordan has a population of million but have...,Egyptian billionaire wants to buy island to ho...,People would rather live near wind turbines th...,Canadian Prime Minister candidate Justin Trude...,Edward Snowden says Hillary Clinton ridiculou...,Indians get years in jail for raping Japa...,The U S is finalizing a billion arms deal ...,Amid refugee crisis Hungary prime minister sa...,More than tractors have rolled into Pari...,Syria civil war Russians filmed fighting alon...,...,Canada gets a C on innovation report card cor...,Drowned Syrian toddlers family had not applie...,More than asylum seekers enter Germany...,Nice but dim Posh but stupid children do bett...,Canadian Forces have no role to play in Syria ...,One of the Indian women sentenced to be gang r...,South Korea on the Brink of Becoming a Multicu...,Russian spy ship off the coast of US sub base ...,Iranian police to confiscate cars of poorly ve...,Peru Indigenous Seize Oil Wells Demanding ...

In [33]:
# Convertng to lower case
for index in new_Index:
    data[index]=data[index].str.lower()
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
3893,jordan has a population of million but have...,egyptian billionaire wants to buy island to ho...,people would rather live near wind turbines th...,canadian prime minister candidate justin trude...,edward snowden says hillary clinton ridiculou...,indians get years in jail for raping japa...,the u s is finalizing a billion arms deal ...,amid refugee crisis hungary prime minister sa...,more than tractors have rolled into pari...,syria civil war russians filmed fighting alon...,...,canada gets a c on innovation report card cor...,drowned syrian toddlers family had not applie...,more than asylum seekers enter germany...,nice but dim posh but stupid children do bett...,canadian forces have no role to play in syria ...,one of the indian women sentenced to be gang r...,south korea on the brink of becoming a multicu...,russian spy ship off the coast of us sub base ...,iranian police to confiscate cars of poorly ve...,peru indigenous seize oil wells demanding ...

In [34]:
# demo
' '.join(str(x) for x in data.iloc[0,0:])

'jordan has a population of   million  but have taken in     million refugees  all with little protest or mass global coverage  egyptian billionaire wants to buy island to house migrants  people would rather live near wind turbines than fracking wells  canadian prime minister candidate justin trudeau promises to legalize marijuana  right away  if elected edward snowden says hillary clinton  ridiculous  to think emails were secure   snowden said in al jazeera interview that ordinary government workers would very likely face prosecution for sending classified emails over personal server    indians get    years in jail for raping japanese student the u s  is finalizing a    billion arms deal with saudi arabia amid refugee crisis  hungary prime minister says muslims not welcome  viktor orban says history of ottoman rule means hungarians will not accept large scale muslim immigration more than       tractors have rolled into paris as farmers attempted to clog up the capital s roads in protest of their falling incomes  syria civil war  russians filmed fighting alongside president assad s forces australian prime minister tony abbott says the  very sad  images of a syrian boy lying lifeless on a turkish beach demonstrate the need for countries to adopt tough policies to stop asylum seekers arriving by boat  netlfix has apparently reduced piracy in australia i want a blue eyed yazidi   a teenager describes what it s like on the isis sex slave market     girls hospitalized due to mysterious gas  afghanistan  migrant smuggling in europe is now worth billions   with thousands of migrants pouring out of afghanistan and the middle east  the business of smuggling them across the balkans into the european union has grown even larger than the illicit trade in drugs and weapons canada gets a c on innovation report card  corporate r amp d lowest of    countries drowned syrian toddlers  family had not applied for canada entry more than         asylum seekers enter germany in august nice but dim  posh but stupid children do better than poor yet gifted canadian forces have no role to play in syria  iraq  mulcair one of the indian women sentenced to be gang raped speaks of her fear south korea on the brink of becoming a multicultural country russian spy ship off the coast of us sub base georgia iranian police to confiscate cars of poorly veiled women  says the head of tehrans traffic police  gen  teymour hosseini peru  indigenous seize    oil wells demanding spill clean up'

In [35]:
headlines = []
for row in range(0,len(data.index)):
    headlines.append(' '.join(str(x) for x in data.iloc[row,0:]))

In [36]:
headlines[0]

'jordan has a population of   million  but have taken in     million refugees  all with little protest or mass global coverage  egyptian billionaire wants to buy island to house migrants  people would rather live near wind turbines than fracking wells  canadian prime minister candidate justin trudeau promises to legalize marijuana  right away  if elected edward snowden says hillary clinton  ridiculous  to think emails were secure   snowden said in al jazeera interview that ordinary government workers would very likely face prosecution for sending classified emails over personal server    indians get    years in jail for raping japanese student the u s  is finalizing a    billion arms deal with saudi arabia amid refugee crisis  hungary prime minister says muslims not welcome  viktor orban says history of ottoman rule means hungarians will not accept large scale muslim immigration more than       tractors have rolled into paris as farmers attempted to clog up the capital s roads in protest of their falling incomes  syria civil war  russians filmed fighting alongside president assad s forces australian prime minister tony abbott says the  very sad  images of a syrian boy lying lifeless on a turkish beach demonstrate the need for countries to adopt tough policies to stop asylum seekers arriving by boat  netlfix has apparently reduced piracy in australia i want a blue eyed yazidi   a teenager describes what it s like on the isis sex slave market     girls hospitalized due to mysterious gas  afghanistan  migrant smuggling in europe is now worth billions   with thousands of migrants pouring out of afghanistan and the middle east  the business of smuggling them across the balkans into the european union has grown even larger than the illicit trade in drugs and weapons canada gets a c on innovation report card  corporate r amp d lowest of    countries drowned syrian toddlers  family had not applied for canada entry more than         asylum seekers enter germany in august nice but dim  posh but stupid children do better than poor yet gifted canadian forces have no role to play in syria  iraq  mulcair one of the indian women sentenced to be gang raped speaks of her fear south korea on the brink of becoming a multicultural country russian spy ship off the coast of us sub base georgia iranian police to confiscate cars of poorly veiled women  says the head of tehrans traffic police  gen  teymour hosseini peru  indigenous seize    oil wells demanding spill clean up'

In [37]:
headlines[0].__len__()

2493

In [38]:
headlines.__len__()

2870

In [39]:
# headlines[0]
from nltk.corpus import stopwords
new = ''.join([word for word in headlines[0] if word not in stopwords.words('english')])
new

'jrn h  ppuln f   lln  bu hve ken n     lln refugee  ll wh lle pre r  glbl cverge  egpn bllnre wn  bu ln  hue grn  peple wul rher lve ner wn urbne hn frckng well  cnn pre ner cne jun rueu pre  leglze rjun  rgh w  f elece ewr nwen  hllr clnn  rculu   hnk el were ecure   nwen  n l jzeer nervew h rnr gvernen wrker wul ver lkel fce precun fr enng clfe el ver pernl erver    nn ge    er n jl fr rpng jpnee uen he u    fnlzng     blln r el wh u rb  refugee cr  hungr pre ner  ul n welce  vkr rbn  hr f n rule en hungrn wll n ccep lrge cle ul grn re hn       rcr hve rlle n pr  frer epe  clg up he cpl  r n pre f her fllng nce  r cvl wr  run fle fghng lnge preen   frce urln pre ner n bb  he  ver   ge f  rn b lng lfele n  urkh bech enre he nee fr cunre  p ugh plce  p lu eeker rrvng b b  nelfx h pprenl reuce prc n url  wn  blue ee z    eenger ecrbe wh   lke n he  ex lve rke     grl hplze ue  eru g  fghnn  grn ugglng n eurpe  nw wrh blln   wh hun f grn purng u f fghnn n he le e  he bune f ugglng he cr he blkn n he eurpen unn h grwn even lrger hn he llc re n rug n wepn cn ge  c n nnvn repr cr  crpre r p  lwe f    cunre rwne rn ler  fl h n pple fr cn enr re hn         lu eeker ener gern n ugu nce bu   ph bu up chlren  beer hn pr e gfe cnn frce hve n rle  pl n r  rq  ulcr ne f he nn wen enence  be gng rpe pek f her fer uh kre n he brnk f becng  ulculurl cunr run p hp ff he c f u ub be gerg rnn plce  cnfce cr f prl vele wen   he he f ehrn rffc plce  gen  eur hen peru  ngenu eze    l well enng pll clen up'

In [40]:
# remove stopwords
# import nltk
# from nltk.corpus import stopwords

# for headline in headlines:
#     headline = ''.join([word for word in headline if word not in stopwords.words('english')])

### Bag of Words

In [73]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

In [74]:
## implement BAG OF WORDS
countvector = CountVectorizer(ngram_range=(1,3))
traindataset = countvector.fit_transform(headlines)

In [75]:
traindataset.shape

(2870, 1215888)

In [76]:
y_train.value_counts()

1    1518
0    1352
Name: Label, dtype: int64

In [77]:
# implement naive bayes classifier and random forest classifier
randomforestclassifier = RandomForestClassifier(n_estimators=200, criterion='entropy')
randomforestclassifier.fit(traindataset, y_train)

naive = MultinomialNB()
naive.fit(traindataset, y_train)

MultinomialNB()

In [78]:
X_test.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
3106,drug decriminalization in portugal decreases n...,pounds of silver possibly the largest ...,canadian mining company destroys panama rainfo...,married olympic couple cant room together cla...,infant buried alive minutes after birth fath...,shell could face huge fine for nigeria spill ...,canada b c launches massive new program to wi...,rupert murdoch faces shareholder revolt at new...,aust government to force citizens to hand over...,a top muslim cleric in russia s tatarstan prov...,...,ian tomlinson death pc not guilty,mexico admits to journalists murdered since...,as china squeezes nepal tibetan escape route ...,mexican teen s brothel escape triggers clampdo...,no sign of assad after bomb kills kin rebels ...,this is not a composite photo site of an alu...,syrian rebels now control all border post betw...,young gorillas seen dismantling poachers traps,hong kong imported million kilograms of sha...,australian government moves to expand surveill...

In [79]:
X_test = X_test.iloc[:,2:]

X_test.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

list1 = [i for i in range(X_test.shape[1])]
new_Index=[str(i) for i in list1]
X_test.columns= new_Index

for index in X_test.columns:
    X_test[index]=X_test[index].str.lower()

test_transform = []
for row in range(0,len(X_test.index)):
    test_transform.append(' '.join(str(x) for x in X_test.iloc[row,0:]))

In [80]:
X_test.head(1)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
3106,canadian mining company destroys panama rainfo...,married olympic couple cant room together cla...,infant buried alive minutes after birth fath...,shell could face huge fine for nigeria spill ...,canada b c launches massive new program to wi...,rupert murdoch faces shareholder revolt at new...,aust government to force citizens to hand over...,a top muslim cleric in russia s tatarstan prov...,beyond foxconn more dirt on the factories mak...,french rightwing lawmakers raised their eyebro...,...,ian tomlinson death pc not guilty,mexico admits to journalists murdered since...,as china squeezes nepal tibetan escape route ...,mexican teen s brothel escape triggers clampdo...,no sign of assad after bomb kills kin rebels ...,this is not a composite photo site of an alu...,syrian rebels now control all border post betw...,young gorillas seen dismantling poachers traps,hong kong imported million kilograms of sha...,australian government moves to expand surveill...

In [82]:
# Predict for the Test Dataset
test_dataset = countvector.transform(test_transform)
rf_pred = randomforestclassifier.predict(test_dataset)
naive_pred = naive.predict(test_dataset)

In [83]:
## Import library to check accuracy
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [84]:
# Evaluation of the random forest
matrix=confusion_matrix(y_test, rf_pred)
print(matrix)
score=accuracy_score(y_test,rf_pred)
print(score)
report=classification_report(y_test,rf_pred)
print(report)

[[ 43 540]
 [ 72 576]]
0.5028432168968319
              precision    recall  f1-score   support

           0       0.37      0.07      0.12       583
           1       0.52      0.89      0.65       648

    accuracy                           0.50      1231
   macro avg       0.45      0.48      0.39      1231
weighted avg       0.45      0.50      0.40      1231

In [86]:
# Evaluation of naive bayes
matrix=confusion_matrix(y_test,naive_pred)
print(matrix)
score=accuracy_score(y_test,naive_pred)
print(score)
report=classification_report(y_test,naive_pred)
print(report)

[[ 78 505]
 [ 91 557]]
0.5158407798537774
              precision    recall  f1-score   support

           0       0.46      0.13      0.21       583
           1       0.52      0.86      0.65       648

    accuracy                           0.52      1231
   macro avg       0.49      0.50      0.43      1231
weighted avg       0.49      0.52      0.44      1231